<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.digipera">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/wallet_logo_64"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wallet_logo_64"
        android:supportsRtl="true"
        android:theme="@style/Theme.Digipera">
        <activity
            android:name=".activities.PaymentFailure"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.TransferSuccess"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.WalletHistory"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.Quiz"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.Rewards"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.Transfer"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.Fitness"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.ScreenTime"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.PaymentSuccess"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.PaymentConfirm"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.QRCodeScan"
            android:exported="false"
            android:hardwareAccelerated="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.SpendingHabit"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.DependentDashboard"
            android:exported="false" />
        <activity
            android:name=".activities.DependentDetails"
            android:exported="false" />
        <activity
            android:name=".activities.Signin"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".activities.Dashboard"
            android:exported="false" />
        <activity
            android:name=".activities.Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>